//Here are all variables

//COLOR
$principale_background : #FCF4EE;
$font_color: rgb(97, 97, 97);
$box_shadow: rgb(160, 160, 160);
$input_border: 1px solid rgb(184, 184, 184);


$title_color: rgb(216, 6, 135);